<div class="card" style="width: 13rem;">
  <img src="{{url}}" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="title"> {{name}}</h5>
    <a href="/items/{{id}}" class="detail-view">Details</a>
    <p class="meta">
       <span class="posted-user">{{user.username}}</span>
         <span class="post-date">Posted {{format_date createdAt}}</span>
        </p>
  </div>
</div>
