{{!-- <article class="post">
  <div class="title">
    <h3>{{title}}</h3>
    
  </div>
  <div class="meta">
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article> --}}

    <article class="post">
      <div class="title">
        <h3>{{title}}</h3>
        <a href="/user/{{id}}"><img class="post-profile-img" src="images/{{user.filename}}" alt="{{user.username}} profile image"></a>
      </div>
      <div class="meta">
        by {{user.username}} on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>