<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <h3>{{title}}</h3>
        <h1>header 1 testing filename {{user.filename}}</h1>
        <img src="images/{{user.filename}}" alt="{{user.username}} profile image">
      </div>
      <div class="meta">
        by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>

<ol class="user-list">
  {{#each users as |user|}}
  <li>
    <article class="user">
      <div class="title">
        <h3>{{user.username}}</h3>
        <img src="public/images/{{filename}}"
      </div>
      <div class="meta">
        {{user.username}} on the Aniverse since:
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>