<article class="post">
  <div class="title">
    <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
    <span>({{post.post_url}})</span>
  </div>
  <div class="meta">
    By {{post.user.username}} on
    {{post.created_at}}
    |
    <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div id="comment-input">
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

<div class="comments">
  {{> comments post.comments}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}