<div class="cForm-container">
  <a href="/"> &larr; Back to Home</a>
  <a class="profile-link" href="/dashboard/profile/">
    Go to Your Profile &rarr;</a>
  <center>
    <h1 class="create-h1">Create New Listing</h1>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="urlInput cInput"
        id="floatingUrl"
        placeholder=" Enter Url For Image"
      />
    </div>
    <div class="form-floating mb-3">
      <input
        name="title"
        type="text"
        class="titleInput cInput"
        id="floatingTitle"
        placeholder=" Enter Title"
      />
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="textInput cInput"
        id="floatingText"
        placeholder=" Enter Text"
      />
    </div>
    <div class="a-grid">
      <button type="button" class="aBtn">Create</button>
    </div>
  </center>
</div>
<h2> Your Listings: </h2>

<div class="card-container">
  {{#each items as |item|}}
    <div class="card" style="width: 13rem;">
      <img src="{{url}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="title">{{name}}</h5>
        <p class="card-text">{{item_text}}</p>
        <p class="meta">
          <a href="/profile{{user.id}}">
            <span class="posted-user">{{user.username}}</span>
          </a>
          <span class="post-date">Posted {{format_date createdAt}}</span>
        </p>
        <button type="button" class="pending-btn" data-id={{id}} data-name={{name}}>Pending</button>
        <button type="button" class="delete-btn" data-id={{id}} data-name={{name}}>Delete</button>
      </div>
    </div>
  {{/each}}
</div>

<script src="/javascript/add-item.js"></script>
<script src="/javascript/pending.js"></script>
<script src="/javascript/delete-item.js"></script>
