
<center>
       <section class="profile-container">
 <div class="profile-info">
<div class="pImg-container">
    <img class="edit-btn" src="/img/edit-icon.png"  data-bs-toggle="modal" data-bs-target="#edit-picture">
<img src="{{user.profile_pic}}" >

</div>

<div class="p-name-container">
 <div ><p class="value">{{user.id}}th Member</p></div>
<h4>{{user.username}}</h4>
<hr>
</div>
<div class="p-description-container">
    <h5>About Me</h5>
    <img class="edit-btn" src="/img/edit-icon.png"  data-bs-toggle="modal" data-bs-target="#edit-description">
   <p>{{user.profile_desc}}</p>
</div>
 </div>
     </div>
    
    </section>

</center>


<div class="card-container">
  {{#each items as |item|}}

<div class="card" style="width: 13rem;">
  <img src="{{items.url}}" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="title">  </h5>
    <p class="card-text">{{user.item.item_text}} </p>
    <p class="meta">
       <a href="/profile/{{user.id}}"> <span class="posted-user">{{user.username}}</span></a>
         <span class="post-date">Posted {{item.created_at}}</span>
        </p>
  </div>
</div>


{{/each}}
</div
<div class="card-container">
  {{#each items as |item|}}

{{> item-list item}}

{{/each}}
</div>
  <!-- Modal for picture -->
  <div class="modal fade" id="edit-picture" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-picture-label">Enter Url For Profile Picture</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" value="{{profile_pic}}"placeholder="Enter Url" id="modal-url">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="pic_btn">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  

  <!-- Modal for Description -->
  <div class="modal fade" id="edit-description" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-description-label">Enter Description</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <textarea name="description " id="profile-textarea" cols="30" rows="10">{{user.profile_desc}}</textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="desc_btn">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/javascript/profile.js"></script>